

{% extends 'base.html' %}
{% load static %}
{% block body %}

    <div id="app">


        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-90">

                <!--====== Detail Post ======-->
                <div class="detail-post">
                    <div class="bp-detail">
                        <div class="bp-detail__thumbnail">

                            <!--====== Image Code ======-->
                            <div class="aspect aspect--bg-grey aspect--1366-768">

                                <img class="aspect__img" src="{{data.image.url}}" alt=""></div>
                            <!--====== End - Image Code ======-->
                        </div>
                        <div class="bp-detail__info-wrap">
                            <div class="bp-detail__stat">

                                <span class="bp-detail__stat-wrap">

                                    <span class="bp-detail__publish-date">

                                        <a href="blog-right-sidebar.html">

                                            <span>{{ data.datepublished }}</span></a></span></span>

                                <span class="bp-detail__stat-wrap">

                                    <span class="bp-detail__author">

                                        <a href="blog-right-sidebar.html">Dayle</a></span></span>

                                <span class="bp-detail__stat-wrap">

                                    <!-- <span class="bp-detail__category">

                                        <a href="blog-right-sidebar.html">Learning</a>

                                        <a href="blog-right-sidebar.html">News</a>

                                        <a href="blog-right-sidebar.html">Health</a></span></span> -->
                            </div>

                            <span class="bp-detail__h1">

                                <a href="blog-detail.html">{{data.blog_title}}</a></span>
                            <div class="blog-t-w">

                                <a class="gl-tag btn--e-transparent-hover-brand-b-2" href="blog-right-sidebar.html">{{data.about_keyword1}}</a>

                                <a class="gl-tag btn--e-transparent-hover-brand-b-2" href="blog-right-sidebar.html">{{data.about_keyword2}}</a>

                                <a class="gl-tag btn--e-transparent-hover-brand-b-2" href="blog-right-sidebar.html">{{data.about_keyword3}}</a></div>
                            
                
                            <p class="bp-detail__p">{{data.blog}}</p>
                            <div class="post-center-wrap">
                                <ul class="bp-detail__social-list">
                                    <li>

                                        <a class="s-fb--color" href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li>

                                        <a class="s-tw--color" href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li>

                                        <a class="s-insta--color" href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li>

                                        <a class="s-wa--color" href="#"><i class="fab fa-whatsapp"></i></a></li>
                                    <li>

                                        <a class="s-gplus--color" href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                </ul>
                            </div>
                            <div class="gl-l-r bp-detail__postnp">
                                <div>

                                    <a href="blog-detail.html">Previous Post</a></div>
                                <div>

                                    <a href="blog-detail.html">Next Post</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Detail Post ======-->
            <div class="u-s-p-b-60">
                <div class="d-meta">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="d-meta__comment-arena">

                                    <span class="d-meta__text u-s-m-b-36">Thoughts on "{{data.blog_title}}"</span>
                                    <div class="d-meta__comments u-s-m-b-30">
                                        <ol>
                                            {%for comment in comments%}
                                            <li>

                                                <!--====== Comment ======-->
                                                <div class="d-meta__p-comment">
                                                    <div class="p-comment__wrap1">
                                                        <div class="aspect aspect--square p-comment__img-wrap">

                                                            <img src="images/blog/avatar.jpg" alt=""></div>
                                                    </div>
                                                    <div class="p-comment__wrap2">

                                                        <span class="p-comment__author">{{comment.your_name}}</span>

                                                        <span class="p-comment__timestamp">

                                                            <!-- <a href="#"><span>25 March 2015 at 3:55pm</span></a></span> -->
                                                        <p class="p-comment__paragraph">{{comment.comment_text}}</p>

                                                        <!-- <a class="p-comment__reply" href="#">Reply</a> -->
                                                    </div>
                                                </div>
                                                <!--====== End - Comment ======-->
                                            </li>
                                            {% endfor %}
                                        </ol>
                                    </div>

                                    <span class="d-meta__text-2 u-s-m-b-6">Join the Conversation</span>

                                    <span class="d-meta__text-3 u-s-m-b-16">Required fields are marked *</span>
                                    <form class="respond__form" method="post">
                                        {%csrf_token %}
                                        {{form.as_ul}}
                                        <input class="btn btn--e-brand-shadow" type ="submit" value="Comment">
                                        <!-- <div class="respond__group">
                                            <div class="u-s-m-b-15">

                                                <label class="gl-label" for="{{ form.comment_text.id_for_label }}">COMMENT *</label><textarea class="text-area text-area--primary-style" id="comment"></textarea></div>
                                            <div>
                                                <p class="u-s-m-b-30">

                                                    <label class="gl-label" for="{{ form.your_name }}">NAME *</label>
                                                    <label for= "{{ form.your_name.id_for_label }}" class="gl-label">NAME *</label>

                                                    <input class="input-text input-text--primary-style" type="text" id="responder-name"></p>
                                                <p class="u-s-m-b-30">

                                                    <label class="gl-label" for="responder-email">EMAIL *</label>

                                                    <input class="input-text input-text--primary-style" type="text" id="responder-email"></p>
                                            </div>
                                        </div> -->
                                        <!-- <div>

                                            <button class="btn btn--e-brand-shadow" value="Comment" type="submit">POST COMMENT</button></div> -->
                                            <!-- <input type ="submit" value="Comment"> -->
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->
        </div>
        <!--====== End - App Content ======-->


        <!--====== Main Footer ======-->
    </div>

    {% endblock %}