

{% extends 'base.html' %}
{% load static %}
{% block body %}

<div id="app">


    <!--====== App Content ======-->
    <div class="app-content">

        <!--====== Section 1 ======-->
        <div class="u-s-p-y-90">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-12">
                        <div class="blog-w-master">
                            <div class="u-s-m-b-60">
                                <div class="blog-w">

                                    <span class="blog-w__h">SEARCH</span>
                                    <form class="blog-search-form">

                                        <label for="post-search"></label>

                                        <input class="input-text input-text--primary-style" type="text" id="post-search" placeholder="Search">

                                        <button class="btn btn--icon fas fa-search" type="submit"></button></form>
                                </div>
                            </div>
                            <div class="u-s-m-b-60">
                                <div class="blog-w">

                                    <span class="blog-w__h">CATEGORIES</span>
                                    <ul class="blog-w__list">
                                        <li>

                                            <a href="blog-left-sidebar.html">Corporate</a></li>
                                        <li>

                                            <a href="blog-left-sidebar.html">Creative</a></li>
                                        <li>

                                            <a href="blog-left-sidebar.html">Design</a></li>
                                        <li>

                                            <a href="blog-left-sidebar.html">News</a></li>
                                        <li>

                                            <a href="blog-left-sidebar.html">Photography</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="u-s-m-b-60">
                                <div class="blog-w">

                                    <span class="blog-w__h">ARCHIVES</span>
                                    <ul class="blog-w__list">
                                        <li>

                                            <a href="blog-left-sidebar.html">March 2017 (1)</a></li>
                                        <li>

                                            <a href="blog-left-sidebar.html">December 2017 (3)</a></li>
                                        <li>

                                            <a href="blog-left-sidebar.html">November 2017 (4)</a></li>
                                        <li>

                                            <a href="blog-left-sidebar.html">September 2017 (1)</a></li>
                                        <li>

                                            <a href="blog-left-sidebar.html">August 2014 (1)</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="u-s-m-b-60">
                                <div class="blog-w">

                                    <span class="blog-w__h">RECENT POSTS</span>
                                    <ul class="blog-w__b-l">
                                        <li>
                                            <div class="b-l__block">
                                                <div class="b-l__date">

                                                    <span>25</span>

                                                    <span>July</span>

                                                    <span>2018</span></div>

                                                <span class="b-l__h">

                                                    <a href="blog-detail.html">Life is an extraordinary Adventure</a></span>

                                                <span class="b-l__p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="b-l__block">
                                                <div class="b-l__date">

                                                    <span>25</span>

                                                    <span>July</span>

                                                    <span>2018</span></div>

                                                <span class="b-l__h">

                                                    <a href="blog-detail.html">Everyone can draw but need passion for it</a></span>

                                                <span class="b-l__p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="b-l__block">
                                                <div class="b-l__date">

                                                    <span>25</span>

                                                    <span>July</span>

                                                    <span>2018</span></div>

                                                <span class="b-l__h">

                                                    <a href="blog-detail.html">Rap is not an art</a></span>

                                                <span class="b-l__p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="u-s-m-b-60">
                                <div class="blog-w">

                                    <span class="blog-w__h">RECENT COMMENTS</span>
                                    <ul class="blog-w__b-l-2">
                                        <li>
                                            <div class="b-l__block">

                                                <span class="b-l__text">admin</span>

                                                <span class="b-l__text">on</span>

                                                <span class="b-l__h-2">

                                                    <a href="blog-detail.html">Life is all about opportunity</a></span></div>
                                        </li>
                                        <li>
                                            <div class="b-l__block">

                                                <span class="b-l__text">admin</span>

                                                <span class="b-l__text">on</span>

                                                <span class="b-l__h-2">

                                                    <a href="blog-detail.html">Be More Confident in 30 Seconds</a></span></div>
                                        </li>
                                        <li>
                                            <div class="b-l__block">

                                                <span class="b-l__text">admin</span>

                                                <span class="b-l__text">on</span>

                                                <span class="b-l__h-2">

                                                    <a href="blog-detail.html">Bury A Body With Me</a></span></div>
                                        </li>
                                        <li>
                                            <div class="b-l__block">

                                                <span class="b-l__text">admin</span>

                                                <span class="b-l__text">on</span>

                                                <span class="b-l__h-2">

                                                    <a href="blog-detail.html">Everything Must Die</a></span></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div>
                                <div class="blog-w">

                                    <span class="blog-w__h">TAGS</span>
                                    <div class="blog-t-w">

                                        <a class="gl-tag btn--e-transparent-hover-brand-b-2" href="blog-left-sidebar.html">Dresses</a>

                                        <a class="gl-tag btn--e-transparent-hover-brand-b-2" href="blog-left-sidebar.html">Shirts & Tops</a>

                                        <a class="gl-tag btn--e-transparent-hover-brand-b-2" href="blog-left-sidebar.html">Polo Shirts</a>

                                        <a class="gl-tag btn--e-transparent-hover-brand-b-2" href="blog-left-sidebar.html">Sweaters</a>

                                        <a class="gl-tag btn--e-transparent-hover-brand-b-2" href="blog-left-sidebar.html">Blazers</a>

                                        <a class="gl-tag btn--e-transparent-hover-brand-b-2" href="blog-left-sidebar.html">Vests</a>

                                        <a class="gl-tag btn--e-transparent-hover-brand-b-2" href="blog-left-sidebar.html">Jackets</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-12">
                        <div class="bp bp--img u-s-m-b-30">
                            {% for data in dataset %}
                            <div class="bp__wrap">

                                <div class="bp__thumbnail">

                                    <!--====== Image Code ======-->

                                    <a class="aspect aspect--bg-grey aspect--1366-768 u-d-block" href="{% url 'blog' _id=data.id %}">

                                        <img class="aspect__img" src="{{data.image.url}}" alt=""></a>
                                    <!--====== End - Image Code ======-->
                                </div>
                                <div class="bp__info-wrap">
                                    <div class="bp__stat">

                                        <span class="bp__stat-wrap">

                                            <span class="bp__publish-date">

                                                <a href="#">

                                                    <span>{{ data.datepublished }}</span></a></span></span>

                                        <span class="bp__stat-wrap">

                                            <span class="bp__author">

                                                <a href="#">Dayle</a></span></span>

                                        <span class="bp__stat-wrap">

                                            <span class="bp__comment">

                                                <a href="#"><i class="far fa-comments u-s-m-r-4"></i>

                                                    <span>3</span></a></span></span>

                                        <span class="bp__stat-wrap">

                                            <span class="bp__category">

                                                <!-- <a href="blog-left-sidebar.html">Learning</a>

                                                <a href="blog-left-sidebar.html">News</a> -->

                                                <a href="#">{{data.category}}</a></span></span></div>

                                    <span class="bp__h1">

                                        <a href="{% url 'blog' _id=data.id %}">{{data.blog_title}}</a></span>

                                    <!-- <span class="bp__h2">A post with the image</span> -->
                                    <div class="blog-t-w">

                                        <a class="gl-tag btn--e-transparent-hover-brand-b-2" href="#">{{data.about_keyword1}}</a>

                                        <a class="gl-tag btn--e-transparent-hover-brand-b-2" href="#">{{data.about_keyword2}}</a>

                                        <a class="gl-tag btn--e-transparent-hover-brand-b-2" href="#">{{data.about_keyword3}}</a></div>
                                    <p class="bp__p">{{data.blog|slice:":150"}}</p>
                                    <div class="gl-l-r">
                                        <div>

                                            <span class="bp__read-more">

                                                <a href="{% url 'blog' _id=data.id %}">READ MORE</a></span></div>
                                        <ul class="bp__social-list">
                                            <li>

                                                <a class="s-fb--color" href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li>

                                                <a class="s-tw--color" href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li>

                                                <a class="s-insta--color" href="#"><i class="fab fa-instagram"></i></a></li>
                                            <li>

                                                <a class="s-wa--color" href="#"><i class="fab fa-whatsapp"></i></a></li>
                                            <li>

                                                <a class="s-gplus--color" href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        
                        <nav class="post-center-wrap u-s-p-y-60">

                            <!--====== Pagination ======-->
                            <ul class="blog-pg">
                                <li class="blog-pg--active">

                                    <a href="blog-left-sidebar.html">1</a></li>
                                <li>

                                    <a href="blog-left-sidebar.html">2</a></li>
                                <li>

                                    <a href="blog-left-sidebar.html">3</a></li>
                                <li>

                                    <a href="blog-left-sidebar.html">4</a></li>
                                <li>

                                    <a class="fas fa-angle-right" href="blog-left-sidebar.html"></a></li>
                            </ul>
                            <!--====== End - Pagination ======-->
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section 1 ======-->
    </div>
    <!--====== End - App Content ======-->


    <!--====== Main Footer ======-->
</div>




{% endblock %}